*
!*/
!.gitignore
!.projectile
!tex/makefile
!*.tex
!*.md
!*.bib
!*.eps
!*.org
!Makefile
!*.js
!*.java
!*.owls
!*.wsdl
!*.xml
!*.go
!*.css
!tex/main.pdf
/prototype/wsdl-to-owls/.idea
/tex/content/_region_.tex
/tex/figs/_region_.tex
/tex/_region_.tex
/todo.org
/tex/main.pdf
/org/
/prototype/go-vis/**/bower_components/**
/pdf/

/prototype/wsdl-to-owls/target/
/prototype/wsdl-to-owls/nb-configuration.xml
/prototype/wsdl-to-owls/nbactions.xml
/prototype/wsdl-to-owls/target/**
/prototype/soap-services/target/
/prototype/soap-services/src/main/resources/public/bower_components/*
/prototype/soap-services/nb-configuration.xml
/prototype/soap-services/nbactions.xml
